Repository kyma-project/cli, pull requests merged in 2020-08, with the labels that each got.

#537 Move minikube pre-condition docu to minikube provision command
  README.md
  cmd/kyma/provision/minikube/cmd.go
  docs/03-01-installation.md
  docs/03-02-use-kyma-cli.md
  docs/03-03-examples.md
  docs/08-01-kubectl-plugin-tutorial.md
  docs/gen-docs/kyma.md
  docs/gen-docs/kyma_completion.md
  docs/gen-docs/kyma_console.md
  docs/gen-docs/kyma_install.md
  docs/gen-docs/kyma_provision.md
  docs/gen-docs/kyma_provision_aks.md
  docs/gen-docs/kyma_provision_gardener.md
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_gke.md
  docs/gen-docs/kyma_provision_minikube.md
  docs/gen-docs/kyma_test.md
  docs/gen-docs/kyma_test_definitions.md
  docs/gen-docs/kyma_test_delete.md
  docs/gen-docs/kyma_test_list.md
  docs/gen-docs/kyma_test_logs.md
  docs/gen-docs/kyma_test_run.md
  docs/gen-docs/kyma_test_status.md
  docs/gen-docs/kyma_upgrade.md
  docs/gen-docs/kyma_version.md
Labels: area/cli, area/documentation

#543 Render cli documentation in kyma-project.io/docs/cli pages
  .kyma-project-io/build-preview.sh
  .kyma-project-io/docs-commands-cag.yaml
  .kyma-project-io/docs-overview-cag.yaml
  CODEOWNERS
  README.md
  cmd/gendocs/gendocs.go
  cmd/kyma/install/cmd.go
  docs/01-01-overview.md
  docs/03-01-installation.md
  docs/03-02-use-kyma-cli.md
  docs/gen-docs/kyma.md
  docs/gen-docs/kyma_completion.md
  docs/gen-docs/kyma_console.md
  docs/gen-docs/kyma_install.md
  docs/gen-docs/kyma_provision.md
  docs/gen-docs/kyma_provision_aks.md
  docs/gen-docs/kyma_provision_gardener.md
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_gke.md
  docs/gen-docs/kyma_provision_minikube.md
  docs/gen-docs/kyma_test.md
  docs/gen-docs/kyma_test_definitions.md
  docs/gen-docs/kyma_test_delete.md
  docs/gen-docs/kyma_test_list.md
  docs/gen-docs/kyma_test_logs.md
  docs/gen-docs/kyma_test_run.md
  docs/gen-docs/kyma_test_status.md
  docs/gen-docs/kyma_upgrade.md
  docs/gen-docs/kyma_version.md
Labels: area/cli, area/documentation, enhancement

#553 disabling upgrade command
  cmd/kyma/kyma.go
  cmd/kyma/kyma_test.go
  docs/gen-docs/kyma.md
Labels: area/cli

#556 Improve CLI docs
  cmd/kyma/kyma.go
  docs/03-01-use-kyma-cli.md
  docs/03-02-examples.md
  docs/04-01-installation.md
  docs/gen-docs/kyma.md
Labels: area/cli, area/documentation

#558 Fixing broken links in readme
  README.md
Labels: area/cli

#559 Improve upgrade command
  .goreleaser.yml
  Makefile
  cmd/kyma/install/cmd.go
  cmd/kyma/kyma.go
  cmd/kyma/kyma_test.go
  cmd/kyma/upgrade/cmd.go
  cmd/kyma/upgrade/cmd_test.go
  cmd/kyma/upgrade/opts.go
  docs/gen-docs/kyma.md
  docs/gen-docs/kyma_install.md
  docs/gen-docs/kyma_upgrade.md
  pkg/installation/installation.go
  pkg/installation/upgrade.go
  pkg/installation/upgrade_test.go
Labels: area/cli
