Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

use ociblob instead of ocilocalblob for oci v2 (#1768)
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
  go.mod
  pkg/docker/docker_test.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/init.go
  pkg/module/layer.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template_test.go
  tests/e2e/Makefile
  tests/e2e/kyma_create_module_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish

Add security scan labels to e2e test
  pkg/module/security_scan.go
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix test
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

overwrite version
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

overwrite version
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

overwrite version
  .github/workflows/test-e2e-create-module.yml
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

debug test
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

remove debugging statements
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

fix
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

bring back default kyma version to main for main branch
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

bring back default kyma version to main for main branch (#1778)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

change default kyma to 2.18.0
  internal/config/config.go
Owners: @kyma-project/jellyfish

update docs
  docs/gen-docs/kyma_deploy.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

release 2.18.1 (#1779)
  .github/workflows/pull-cli-lint.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  docs/gen-docs/kyma_alpha_create_module.md
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
  internal/deploy/bootstrap.go
  internal/files/existingfile.txt
  internal/files/files.go
  internal/files/files_test.go
  internal/nice/nice.go
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
  pkg/module/build.go
  pkg/module/custom_state_check.go
  pkg/module/custom_state_check_test.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
  pkg/module/gitsource/source.go
  pkg/module/init.go
  pkg/module/layer.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template.go
  pkg/module/template_test.go
  tests/e2e/Makefile
  tests/e2e/kyma_create_module_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Configure PR Title linter to impose Conventional Commits spec
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/lint-golangci.yml
Owners: @kyma-project/jellyfish

Configure dependabot to adhere to the Conventional Commits spec
  .github/dependabot.yml
Owners: @kyma-project/jellyfish

Configure markdown files links checker
  .github/workflows/lint-markdown-links.yml
  .mlc.config.json
Owners: @kyma-project/jellyfish

Configure changelog groups for the goreleaser
  .goreleaser.yml
Owners: @kyma-project/jellyfish

chore(infra): Adjust GitHub Action linters (#1780)
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/lint-golangci.yml
  .github/workflows/lint-markdown-links.yml
  .goreleaser.yml
  .mlc.config.json
Owners: @kyma-project/jellyfish

Updating the security scan labels according to the new fields in the security config files (#1776)
  .github/workflows/test-e2e-create-module.yml
  pkg/module/security_scan.go
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

Run GH ACtion also on release branches
  .github/workflows/lint-golangci.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
Owners: @kyma-project/jellyfish

Update reconciler version with Ory reconciler changes for Hydra migration
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Run GH ACtion also on release branches (#1785)
  .github/workflows/lint-golangci.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
Owners: @kyma-project/jellyfish
