Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Change GoReleaser Variable Name to fix release cycle
  hack/release.sh
Owners: @kyma-project/jellyfish

Change GoReleaser Variable Name to fix release cycle (#1651)
  hack/release.sh
Owners: @kyma-project/jellyfish

Add sync label to default Kyma and ModuleTemplate (#1650)
  internal/deploy/kyma.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Revert "Add sync label to default Kyma and ModuleTemplate (#1650)"
  internal/deploy/kyma.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Revert "Add sync label to default Kyma and ModuleTemplate (#1650)" (#1652)
  internal/deploy/kyma.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

remove stable cli references
  Makefile
  README.md
  hack/release.sh
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

address PR comments
  Makefile
  README.md
  cmd/kyma/kyma.go
  internal/cli/version.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update README.md
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Revert "Update README.md"
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

address PR comments
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Get rid of Stable CLI (#1653)
  Makefile
  README.md
  cmd/kyma/kyma.go
  hack/release.sh
  internal/cli/version.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

remove module template managed-by
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Control in-kcp-mode flag using target flag + add unit test
  cmd/kyma/alpha/deploy/cmd.go
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/module_templates.go
  internal/testdata/manifest.yaml
  internal/testdata/manifestInKcp.yaml
Owners: @kyma-project/jellyfish

bump hydroform image
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

remove mapstructure.Decode and use Deployment structure
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

fix naming
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

Check if target is remote
  cmd/kyma/alpha/deploy/cmd.go
Owners: @kyma-project/jellyfish

Update Kyma version and docs
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Update Kyma version and docs (#1664)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

remove module template managed-by (#1657)
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Owners: @kyma-project/jellyfish

add Makefile command to compile on Apple Silicon
  Makefile
Owners: @kyma-project/jellyfish

add darwin-arm build instruction to global build
  Makefile
Owners: @kyma-project/jellyfish

reorder targets and add comments
  Makefile
Owners: @kyma-project/jellyfish

Replace references from v1beta1 to v1beta2
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/disable/module/module_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/kyma/alpha/enable/module/opts.go
  cmd/kyma/alpha/list/module/module.go
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Owners: @kyma-project/jellyfish

change condition + PatchDeploymentWithInKcpModeFlag
  cmd/kyma/alpha/deploy/cmd.go
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

refactor applyManifests
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/module_templates.go
Owners: @kyma-project/jellyfish

fix linting
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

Extend Kyma bootrap with setting sync label depending on kcp-mode
  internal/deploy/kyma.go
Owners: @kyma-project/jellyfish

PR comments
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

fix condition
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

PR comments
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
Owners: @kyma-project/jellyfish

Control in-kcp-mode flag using target flag (#1663)
  cmd/kyma/alpha/deploy/cmd.go
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/module_templates.go
  internal/testdata/manifest.yaml
  internal/testdata/manifestInKcp.yaml
Owners: @kyma-project/jellyfish

Use kcp mode value for bootstrap
  cmd/kyma/alpha/deploy/cmd.go
Owners: @kyma-project/jellyfish

Make v1beta2 default (#1666)
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/disable/module/module_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/kyma/alpha/enable/module/opts.go
  cmd/kyma/alpha/list/module/module.go
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Owners: @kyma-project/jellyfish

bump hydroform image (#1660)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Release 2.14.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Arm compiler (#1665)
  Makefile
Owners: @kyma-project/jellyfish

Fix raw manifest with single file and no git
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/layer.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

Release 2.14.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.14.1 (#1672)
  Makefile
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/disable/module/module_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/kyma/alpha/enable/module/opts.go
  cmd/kyma/alpha/list/module/module.go
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/config/config.go
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/kyma.go
  internal/deploy/module_templates.go
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  internal/testdata/manifest.yaml
  internal/testdata/manifestInKcp.yaml
  pkg/module/template.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
