Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

Bump Reconciler to include
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Bump Reconciler to include (#1626)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

update kyma version
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

update kyma version (#1627)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

add label to descriptor (#1625)
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Remove helm chart bundling of `KubeBuilder` projects (#1581)
  .gitignore
  pkg/module/kubebuilder/chart.go
  pkg/module/kubebuilder/project.go
  pkg/module/layer.go
  pkg/module/resources.go
  pkg/module/validation.go
  pkg/module/validation_test.go
Owners: @kyma-project/jellyfish

Remove envtest logs for verbose mode
  cmd/kyma/alpha/create/module/module.go
  internal/cli/setup/envtest/setup.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

Add gardenlinux flag for Gardener provisioning
  cmd/kyma/provision/cmd.go
  cmd/kyma/provision/gardener/aws/cmd.go
  cmd/kyma/provision/gardener/aws/cmd_test.go
  cmd/kyma/provision/gardener/aws/opts.go
  cmd/kyma/provision/gardener/aws/template.go
  cmd/kyma/provision/gardener/az/cmd.go
  cmd/kyma/provision/gardener/az/cmd_test.go
  cmd/kyma/provision/gardener/az/opts.go
  cmd/kyma/provision/gardener/az/template.go
  cmd/kyma/provision/gardener/gcp/cmd.go
  cmd/kyma/provision/gardener/gcp/cmd_test.go
  cmd/kyma/provision/gardener/gcp/opts.go
  cmd/kyma/provision/gardener/gcp/template.go
Owners: @kyma-project/jellyfish

generate docs
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

fix test
  cmd/kyma/provision/gardener/gcp/cmd_test.go
Owners: @kyma-project/jellyfish

Remove envtest logs for verbose mode (#1629)
  cmd/kyma/alpha/create/module/module.go
  internal/cli/setup/envtest/setup.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

fix test
  cmd/kyma/provision/gardener/gcp/cmd_test.go
Owners: @kyma-project/jellyfish

Fix for credentials
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

Debug
  go.mod
  pkg/module/kubebuilder/project.go
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

Cleanup
  go.mod
  pkg/module/kubebuilder/project.go
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

replace public key parsing logic with what offered by ocm
  pkg/module/sign.go
Owners: @kyma-project/jellyfish

replace private key parsing logic with what offered by ocm
  pkg/module/sign.go
Owners: @kyma-project/jellyfish

change signature name and issuer
  pkg/module/sign.go
Owners: @kyma-project/jellyfish

Add missing comment
  cmd/kyma/provision/cmd.go
Owners: @kyma-project/jellyfish

Upgrade hydroform version
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Fix indentation
  cmd/kyma/provision/cmd.go
Owners: @kyma-project/jellyfish

Support the installation of specific Garden Linux version for Gardener (#1630)
  cmd/kyma/provision/cmd.go
  cmd/kyma/provision/gardener/aws/cmd.go
  cmd/kyma/provision/gardener/aws/cmd_test.go
  cmd/kyma/provision/gardener/aws/opts.go
  cmd/kyma/provision/gardener/aws/template.go
  cmd/kyma/provision/gardener/az/cmd.go
  cmd/kyma/provision/gardener/az/cmd_test.go
  cmd/kyma/provision/gardener/az/opts.go
  cmd/kyma/provision/gardener/az/template.go
  cmd/kyma/provision/gardener/gcp/cmd.go
  cmd/kyma/provision/gardener/gcp/cmd_test.go
  cmd/kyma/provision/gardener/gcp/opts.go
  cmd/kyma/provision/gardener/gcp/template.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Replace key parsing logic with ocm signing (#1633)
  pkg/module/sign.go
Owners: @kyma-project/jellyfish

Upgrade hydroform version (#1635)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Configure creds for empty auth (#1634)
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

Fix 2.13.0 (#1641)
  .gitignore
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/provision/cmd.go
  cmd/kyma/provision/gardener/aws/cmd.go
  cmd/kyma/provision/gardener/aws/cmd_test.go
  cmd/kyma/provision/gardener/aws/opts.go
  cmd/kyma/provision/gardener/aws/template.go
  cmd/kyma/provision/gardener/az/cmd.go
  cmd/kyma/provision/gardener/az/cmd_test.go
  cmd/kyma/provision/gardener/az/opts.go
  cmd/kyma/provision/gardener/az/template.go
  cmd/kyma/provision/gardener/gcp/cmd.go
  cmd/kyma/provision/gardener/gcp/cmd_test.go
  cmd/kyma/provision/gardener/gcp/opts.go
  cmd/kyma/provision/gardener/gcp/template.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  go.mod
  go.sum
  internal/cli/setup/envtest/setup.go
  pkg/module/kubebuilder/chart.go
  pkg/module/kubebuilder/project.go
  pkg/module/layer.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/sign.go
  pkg/module/template.go
  pkg/module/validation.go
  pkg/module/validation_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Updating goreleaser
  .goreleaser.yml
  hack/release.sh
Owners: @kyma-project/jellyfish

Updating goreleaser (#1642)
  .goreleaser.yml
  hack/release.sh
Owners: @kyma-project/jellyfish

cred selector label should save in layer before push to oci image.
  cmd/kyma/alpha/create/module/module.go
  pkg/module/resources.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

cred selector label should save in layer before push to oci image. (#1643)
  cmd/kyma/alpha/create/module/module.go
  pkg/module/resources.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

bump reconciler
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

bump reconciler (#1644)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Release 2.13.2
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.13.2 (#1647)
  .goreleaser.yml
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  hack/release.sh
  internal/config/config.go
  pkg/module/resources.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Change var name
  hack/release.sh
Owners: @kyma-project/jellyfish

Add label to default kyma with alpha deploy command
  internal/deploy/kyma.go
Owners: @kyma-project/jellyfish

Change var name (#1649)
  hack/release.sh
Owners: @kyma-project/jellyfish

Add label to moduleTemplate with alpha create module command
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Add sync label to samples
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
Owners: @kyma-project/jellyfish

Revert "Add sync label to samples"
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
Owners: @kyma-project/jellyfish
