Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

custom_state_check_test.go: Add Unit Tests
  pkg/module/custom_state_check_test.go
Owners: @kyma-project/jellyfish

Unexport function
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
Owners: @kyma-project/jellyfish

Commit TWS suggestions
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Introduce flag to pass git remote (#1762)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

feat: Add Custom State Check Support to Create Module Command (#1764)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  go.mod
  go.sum
  pkg/module/custom_state_check.go
  pkg/module/custom_state_check_test.go
  pkg/module/def.go
  pkg/module/template.go
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

fix: Remove CustomStateCheck flags from the Module Command
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  pkg/module/custom_state_check.go
  pkg/module/custom_state_check_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

remove compatible attribute for v2, so that v2 generate resources with ociblob instead of depricated ocilocalblob
  pkg/module/build.go
Owners: @kyma-project/jellyfish

add help desc
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

gen docs
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Extend tests with correct scenarios
  cmd/kyma/alpha/create/module/moduleconfig_test.go
Owners: @kyma-project/jellyfish

add e2e test
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
Owners: @kyma-project/jellyfish

add e2e test
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
Owners: @kyma-project/jellyfish

add module config test
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

add module config test
  .github/workflows/test-e2e-create-module.yml
  go.mod
  pkg/docker/docker_test.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/init.go
  pkg/module/layer.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template_test.go
  tests/e2e/Makefile
  tests/e2e/kyma_create_module_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish

fix github action
  .github/workflows/test-e2e-create-module.yml
Owners: @kyma-project/jellyfish

fix bug
  pkg/module/build.go
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

extend e2e test drop gotest.tools
  .github/workflows/test-e2e-create-module.yml
  go.mod
  pkg/docker/docker_test.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/init.go
  pkg/module/layer.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template_test.go
  tests/e2e/Makefile
  tests/e2e/kyma_create_module_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish

Add unit test
  pkg/module/gitsource/git_test.go
Owners: @kyma-project/jellyfish

remove test
  pkg/module/gitsource/git_test.go
Owners: @kyma-project/jellyfish

revert changes
  pkg/module/build.go
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

Revert "revert changes"
  pkg/module/build.go
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

add check for required customStateChecks to validation
  cmd/kyma/alpha/create/module/moduleconfig.go
  pkg/module/custom_state_check.go
Owners: @kyma-project/jellyfish

bump and fix lint
  .github/workflows/pull-cli-lint.yml
  Makefile
  cmd/kyma/alpha/create/module/moduleconfig_test.go
Owners: @kyma-project/jellyfish

fix path
  internal/files/files.go
Owners: @kyma-project/jellyfish

fix linting
  internal/files/files.go
Owners: @kyma-project/jellyfish

fix lint
  pkg/module/init.go
Owners: @kyma-project/jellyfish

fix: Remove CustomStateCheck flags from the Module Command (#1767)
  .github/workflows/pull-cli-lint.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  pkg/module/custom_state_check.go
  pkg/module/custom_state_check_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

CR comments
  pkg/module/build.go
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

Revert "CR comments"
  pkg/module/build.go
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

CR comments
  pkg/module/build.go
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

remove unneeded if condition
  pkg/module/build.go
Owners: @kyma-project/jellyfish

Fix repoUrl for parent-child git structure (#1770)
  internal/files/files.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
Owners: @kyma-project/jellyfish

test repoURL
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix TEST_REPOSITORY_URL location
  .github/workflows/test-e2e-create-module.yml
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

gofmt
  pkg/module/build.go
Owners: @kyma-project/jellyfish

align name
  .github/workflows/test-e2e-create-module.yml
  tests/e2e/Makefile
Owners: @kyma-project/jellyfish

Do not remove .git if exists
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
  pkg/module/gitsource/source.go
Owners: @kyma-project/jellyfish

Add one testcase
  pkg/module/gitsource/git_test.go
Owners: @kyma-project/jellyfish

Do not remove `.git` if exists (#1775)
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
  pkg/module/gitsource/source.go
Owners: @kyma-project/jellyfish

fixes
  pkg/module/security_scan.go
Owners: @kyma-project/jellyfish
