Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Addressing test comment
  tests/e2e/create_module/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

PR comments
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

fix: Add module version annotation to the ModuleTemplate (#1799)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  pkg/module/validation.go
  tests/e2e/create_module/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

enhance message
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

remove custom multierror. use join on one fix occurence
  internal/kube/ssa.go
  pkg/errs/multierror.go
  pkg/errs/multierror_test.go
Owners: @kyma-project/jellyfish

feat: Add refactor title type
  .github/workflows/lint-conventional-prs.yml
Owners: @kyma-project/jellyfish

enhance message (#1801)
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

feat: Add refactor title type (#1803)
  .github/workflows/lint-conventional-prs.yml
Owners: @kyma-project/jellyfish

remove custom multierror. use join on one fix occurence (#1802)
  internal/kube/ssa.go
  pkg/errs/multierror.go
  pkg/errs/multierror_test.go
Owners: @kyma-project/jellyfish

Bump ocm dep
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Use new identity pkg
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

Add some error handling
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/blob/blob.go
Owners: @kyma-project/jellyfish

More error handling for regex
  cmd/kyma/alpha/create/module/moduleconfig.go
Owners: @kyma-project/jellyfish

Condest reconciler call
  internal/deploy/deploy.go
Owners: @kyma-project/jellyfish

Add default status
  internal/deploy/deploy.go
Owners: @kyma-project/jellyfish

chore: Fix some CLI checkmarx issues (#1807)
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  internal/deploy/deploy.go
  pkg/module/blob/blob.go
Owners: @kyma-project/jellyfish

Remove unnecessary register calls
  cmd/kyma/alpha/create/module/module.go
  pkg/module/init.go
  pkg/module/remote.go
Owners: @kyma-project/jellyfish

don't close the archive
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Fix unhandled errors
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  internal/k3d/k3d.go
Owners: @kyma-project/jellyfish, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

APlly review comments
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  internal/k3d/k3d.go
Owners: @kyma-project/jellyfish, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

fix misspelling
  internal/k3d/k3d.go
Owners: @kyma-project/jellyfish

Release 2.19.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.19.1 (#1814)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

fix test
  cmd/kyma/alpha/create/module/module.go
  go.mod
  go.sum
  tests/e2e/create_module/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

offer init component descriptor
  pkg/module/build.go
Owners: @kyma-project/jellyfish

create ComponentDescriptor before CreateArchive
  cmd/kyma/alpha/create/module/module.go
  pkg/module/build.go
  pkg/module/component_descriptor.go
  pkg/module/private_registry_selector.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

bump golang.org/x/net
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

bump golang.org/x/net (#1815)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

fix vulnerabilities
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/blob/blob.go
Owners: @kyma-project/jellyfish

fix(checkmarx): Fix unhandled errors (#1813)
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  internal/k3d/k3d.go
Owners: @kyma-project/jellyfish, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Remove unecessary git source code. Refactor module.go
  cmd/kyma/alpha/create/module/module.go
  internal/files/files.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/source.go
  pkg/module/resources.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

fix test
  tests/e2e/create_module/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

wrap test cases
  tests/e2e/create_module/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

update kyma to 2.19.2
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

release 2.19.2 (#1818)
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-e2e.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
  internal/deploy/deploy.go
  internal/deploy/values/builder.go
  internal/deploy/values/values.go
  internal/deploy/values/values_test.go
  internal/k3d/k3d.go
  internal/kube/ssa.go
  pkg/errs/multierror.go
  pkg/errs/multierror_test.go
  pkg/module/blob/blob.go
  pkg/module/remote.go
  pkg/module/validation.go
  tests/e2e/Makefile
  tests/e2e/create_module/kyma_create_module_same_version_test.go
  tests/e2e/create_module/kyma_create_module_test.go
  tests/e2e/deploy_enable_disable_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/module_templates/moduletemplate_template_operator_regular.yaml
  tests/e2e/module_templates/moduletemplate_template_operator_regular_warning.yaml
  tests/e2e/util.go
Owners: @kyma-project/jellyfish, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

update kyma to 2.19.3
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

release 2.19.3 (#1819)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

apply review suggestions
  pkg/module/build.go
Owners: @kyma-project/jellyfish

apply review suggestions
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

deps: Upgrade open-component-model/ocm to v0.4.0 (#1808)
  cmd/kyma/alpha/create/module/module.go
  go.mod
  go.sum
  internal/files/files.go
  pkg/module/build.go
  pkg/module/component_descriptor.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/source.go
  pkg/module/init.go
  pkg/module/private_registry_selector.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template.go
  tests/e2e/create_module/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
