Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

module command: Add Error Code for Kyma Warning State (#1692)
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/main.go
  go.mod
  go.sum
  internal/cli/alpha/module/errors.go
  internal/cli/alpha/module/module.go
  internal/cli/exit_code.go
  internal/cli/exit_code_test.go
Owners: @kyma-project/jellyfish

Release 2.16
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.16 (#1698)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

review fix
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Review fix
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Upgrade default k8s version for k3d provisioning
  cmd/kyma/provision/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_k3d.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Review fix
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Upgrade default k8s version for k3d provisioning (#1704)
  cmd/kyma/provision/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_k3d.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Add publish-unstable-cli.sh
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

Docs update
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Review fix
  pkg/module/build.go
Owners: @kyma-project/jellyfish
