Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Release 2.14.3
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.14.3 (#1675)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

update kyma dashboard image to artifact registry
  pkg/dashboard/dashboard.go
Owners: @kyma-project/jellyfish

update kyma dashboard image to artifact registry (#1676)
  pkg/dashboard/dashboard.go
Owners: @kyma-project/jellyfish

Initial simple e2e tests setup
  go.mod
  go.sum
  scripts/test/e2e/alpha_command.sh
  tests/e2e/Makefile
  tests/e2e/README.md
  tests/e2e/alpha/alpha_command_test.go
  tests/e2e/alpha/testdata/alpha-ok.golden
  tests/e2e/output/output.go
  tests/e2e/suite_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Handle optional serverless dependencies in cli
  cmd/kyma/apply/function/function.go
  go.mod
  go.sum
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm, @kyma-project/jellyfish

Apply suggestions from code review
  cmd/kyma/apply/function/function.go
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Bump hydroform
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

fix linter
  cmd/kyma/apply/function/function.go
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Bump moby and cicl versions to fix vulnerability issues
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

fix linter again
  cmd/kyma/apply/function/function.go
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Bump moby and cicl versions to fix vulnerability issues (#1680)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Update Kyma version & docs
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Handle optional serverless dependencies in cli (#1679)
  cmd/kyma/apply/function/function.go
  go.mod
  go.sum
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm, @kyma-project/jellyfish

Bump reconciler lib for Istio 1.18 client update
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Bump reconciler lib for Istio 1.18 client update (#1682)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

bump reconciler
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

bump reconciler (#1687)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

use newest reconciler
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

use newest reconciler (#1688)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

remove nodejs 14, deprecate nodejs16
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm, @kyma-project/jellyfish

Release 2.15.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.15.1 (#1691)
  cmd/kyma/apply/function/function.go
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

module command: Add Error Code for Kyma Warning State
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/main.go
  go.mod
  go.sum
  internal/cli/alpha/module/errors.go
  internal/cli/alpha/module/module.go
  internal/cli/exit_code.go
  internal/cli/exit_code_test.go
Owners: @kyma-project/jellyfish

update docs
  docs/gen-docs/kyma_init_function.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

update hydroform
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Remove nodejs 14, deprecate nodejs16 (#1690)
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
  go.mod
  go.sum
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm, @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

upgrade reconciler version
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

First working version
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

Fix linter
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
Owners: @kyma-project/jellyfish

Fix Linting Issues
  go.sum
  internal/cli/exit_code.go
Owners: @kyma-project/jellyfish

upgrade reconciler version (#1693)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Extend Default CR validation
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/build.go
  pkg/module/template.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

Fix linter
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

Docs
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Add deprecation warning, docu fixes.
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create.md
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Improve template generation
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Cleanup
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

Add security scanner config file
  sec-scanners-config.yaml
Owners: @kyma-project/jellyfish

add new line to file
  sec-scanners-config.yaml
Owners: @kyma-project/jellyfish

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
