Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Add security scanner config file for CLI (#1697)
  sec-scanners-config.yaml
Owners: @kyma-project/jellyfish

chmod +x publish-unstable-cli.sh
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

Add publish-unstable-cli script for the Prow job (#1705)
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

Review fix
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Fix gardener linux image compatibility
  cmd/kyma/provision/cmd.go
Owners: @kyma-project/jellyfish

Updated docs
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Fix gardener linux image compatibility (#1706)
  cmd/kyma/provision/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Check type assertions
  .golangci.yml
  Makefile
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/list/module/module.go
  internal/cli/alpha/module/module.go
  internal/deploy/bootstrap.go
  internal/deploy/kyma.go
  pkg/errs/common.go
Owners: @kyma-project/jellyfish

remove script + add make targets
  Makefile
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

fix make target
  Makefile
Owners: @kyma-project/jellyfish

fix
  Makefile
Owners: @kyma-project/jellyfish

remove new target
  Makefile
Owners: @kyma-project/jellyfish

Revert "remove script + add make targets"
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

edit script
  prow/pre-cli-e2e.sh
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

edit script
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

remove wrong log
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

comment undeployment from script
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

add todo comment
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Edit prow script (#1708)
  prow/pre-cli-e2e.sh
  prow/publish-unstable-cli.sh
Owners: @kyma-project/jellyfish

Update reconciler to version 31217ab6a174
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Update reconciler to version 31217ab6a174 (#1709)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Change error
  pkg/errs/common.go
Owners: @kyma-project/jellyfish

Fix assertion within map value check
  cmd/kyma/alpha/list/module/module.go
Owners: @kyma-project/jellyfish

Fix some explicitly disabled type assertions
  .golangci.yml
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/list/module/module.go
  internal/deploy/bootstrap_test.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Add timeout to make target
  .golangci.yml
  Makefile
Owners: @kyma-project/jellyfish

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Uncomment kyma undeploy from script
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Uncomment kyma undeploy from script
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Debugging script
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Debugging scriptgit
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Debugging script
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

comment running fast integration tests temporarily
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

increase timeout
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

add verbosity to the undeploy command
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Review fix
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

rerun pipeline
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

rerun pipeline
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

increasing timeout
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

revert timeout change
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

add sleep after integration tests
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
