Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

fix go.sum
  go.sum
Owners: @kyma-project/jellyfish

deps: Update reconciler version (#1786)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Update docs
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

chore(release): Release 2.18.2 (#1791)
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/lint-golangci.yml
  .github/workflows/lint-markdown-links.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
  .goreleaser.yml
  .mlc.config.json
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
  pkg/module/security_scan.go
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Setup e2e tests action
  .github/workflows/test-e2e.yml
  .github/workflows/test-smoke.yml
Owners: @kyma-project/jellyfish

Add go file + make target
  tests/e2e/Makefile
  tests/e2e/kyma_e2e_test.go
Owners: @kyma-project/jellyfish

add Run E2E tests step
  .github/workflows/test-e2e.yml
Owners: @kyma-project/jellyfish

add e2e test
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/kyma_e2e_test.go
Owners: @kyma-project/jellyfish

refactor existing E2E tests
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-e2e.yml
  go.mod
  tests/e2e/Makefile
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

remove redundant step in e2e yaml
  .github/workflows/test-e2e.yml
Owners: @kyma-project/jellyfish

trigger the pipeline
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

editing go file to trigger pipeline
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

fix yaml file
  .github/workflows/test-e2e.yml
Owners: @kyma-project/jellyfish

remove unneeded expect statement
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

some fixes
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

some fixes
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

add suite_test.go
  tests/e2e/suite_test.go
Owners: @kyma-project/jellyfish

ginkgo bootstrap
  go.mod
  go.sum
  tests/e2e/suite_test.go
Owners: @kyma-project/jellyfish

add e2e_suite_test
  tests/e2e/e2e_suite_test.go
Owners: @kyma-project/jellyfish

remove unnecessary log
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fixes
  go.sum
Owners: @kyma-project/jellyfish

fixes
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

start test implementation
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

disable running e2e from
  Makefile
Owners: @kyma-project/jellyfish

create module test changes
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

exclude e2e from test target
  Makefile
Owners: @kyma-project/jellyfish

kyma alpha deploy
  tests/e2e/e2e_suite_test.go
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/e2e_suite_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_create_module_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/kyma_create_module_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish

fix
  Makefile
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/e2e_suite_test.go
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish

Increase timeout
  tests/e2e/e2e_suite_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_cli_e2e_test.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish

fix
  tests/e2e/e2e_suite_test.go
Owners: @kyma-project/jellyfish

fixes
  tests/e2e/e2e_suite_test.go
  tests/e2e/util.go
Owners: @kyma-project/jellyfish
