Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

prevent nil src to be in progress
  pkg/module/build.go
Owners: @kyma-project/jellyfish

prevent nil src to be in progress (#1753)
  pkg/module/build.go
Owners: @kyma-project/jellyfish

chancges after PR comments
  internal/files/files.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/source.go
  pkg/module/source/source.go
Owners: @kyma-project/jellyfish

skip add scanning information if no source provided
  pkg/module/security_scan.go
Owners: @kyma-project/jellyfish

update kyma dependencies
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Improved the codebase and adding in consideration the new requirement related to the security scan.
  cmd/kyma/alpha/create/module/module.go
  internal/files/files.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/security_scan.go
Owners: @kyma-project/jellyfish

fix linting newline
  internal/files/files.go
Owners: @kyma-project/jellyfish

update lifecycle manager
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

update go mod (#1752)
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

Add Unit tests to "files.SearchForTargetDirByName" function
  internal/files/files_test.go
Owners: @kyma-project/jellyfish

revert go mod upgarde
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

revert go mod upgarde (#1757)
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

add smoke test update go mod
  .github/workflows/smoke-test.yml
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

enhance github pipeline
  .github/workflows/smoke-test.yml
Owners: @kyma-project/jellyfish

fix breaking changes
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

set creationtimestamp for crd
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

fix smoke test
  .github/workflows/smoke-test.yml
Owners: @kyma-project/jellyfish

Add support to interactive mode
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Revert Sec Scan struct
  pkg/module/security_scan.go
Owners: @kyma-project/jellyfish

Release 2.18.0
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Add a yellow warning when the target folder's not a git repo
  cmd/kyma/alpha/create/module/module.go
  internal/nice/nice.go
Owners: @kyma-project/jellyfish

Release 2.18.0 (#1759)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

rename
  internal/deploy/bootstrap.go
Owners: @kyma-project/jellyfish

Add missed sec config path file check
  cmd/kyma/alpha/create/module/module.go
  internal/files/files.go
  internal/files/files_test.go
Owners: @kyma-project/jellyfish

remove unused env
  .github/workflows/smoke-test.yml
Owners: @kyma-project/jellyfish

upgrade go mod and smoke test for alpha deploy (#1758)
  .github/workflows/smoke-test.yml
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  internal/deploy/bootstrap.go
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

Add support of the relative and absolute path
  cmd/kyma/alpha/create/module/module.go
  internal/files/files.go
Owners: @kyma-project/jellyfish

Changed 'isFileExist' to boolean instead of returning error
  cmd/kyma/alpha/create/module/module.go
  internal/files/existingfile.txt
  internal/files/files.go
  internal/files/files_test.go
Owners: @kyma-project/jellyfish

Update message
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

redecalred the err
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

remove err.Err() when sec scan's skipped
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Introduce new flag to configure remote name of git repo
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/build.go
  pkg/module/git/source.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

make docs
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

NewNice should init with NonInteractive
  cmd/kyma/alpha/create/module/module.go
  internal/nice/nice.go
Owners: @kyma-project/jellyfish

unit test
  pkg/module/git/source.go
  pkg/module/git/source_test.go
Owners: @kyma-project/jellyfish

refactor determineRepositoryURL
  pkg/module/gitsource/git.go
Owners: @kyma-project/jellyfish

make new line for Caution message
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Allow create module for no git directory (#1751)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  internal/files/existingfile.txt
  internal/files/files.go
  internal/files/files_test.go
  internal/nice/nice.go
  pkg/module/build.go
  pkg/module/git/source.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/source.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Merge with main
  cmd/kyma/alpha/create/module/module.go
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
Owners: @kyma-project/jellyfish

feat: Add Custom State Check Support to Create Module Command
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  go.mod
  go.sum
  pkg/module/custom_state_check.go
  pkg/module/def.go
  pkg/module/template.go
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko
