Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

Add is-cluster-scoped annotation for Cluster Scoped modules (#1722)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/testdata/clusterScopedCRD.yaml
  cmd/kyma/alpha/create/module/testdata/namespacedScopedCRD.yaml
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update reconciler to latest
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

sync main to 2.17 (#1738)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/testdata/clusterScopedCRD.yaml
  cmd/kyma/alpha/create/module/testdata/namespacedScopedCRD.yaml
  go.mod
  go.sum
  pkg/module/kubebuilder/project.go
  pkg/module/resources.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

Update reconciler to latest (#1737)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Update links for the domain change (#1728)
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

reuse compliance (#1736)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Use simple mode as default
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
Owners: @kyma-project/jellyfish

make docs
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

fix comment
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Release 2.17.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

Release 2.17.1 (#1740)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Use simple mode as default (#1739)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Init Legacy flags by default
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

make docs
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Init Legacy flags by default (#1743)
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Change error log level, fail the sec scan info step if error appears
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

switch back to warn instead error
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Better User-Feedback: Fail the sec scan info step if error appears (#1746)
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

skip valid after add security scan layer
  cmd/kyma/alpha/create/module/module.go
  pkg/module/security_scan.go
Owners: @kyma-project/jellyfish

Override default namespace
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/template.go
Owners: @kyma-project/jellyfish

pre-ready commit
  internal/files/files.go
  pkg/module/build.go
  pkg/module/source/git.go
  pkg/module/source/git_test.go
  pkg/module/source/source.go
Owners: @kyma-project/jellyfish

pre-ready commit 2
  pkg/module/build.go
Owners: @kyma-project/jellyfish

pre-ready PR
  pkg/module/build.go
  pkg/module/source/fs.go
  pkg/module/source/git.go
  pkg/module/source/git_test.go
  pkg/module/source/source.go
Owners: @kyma-project/jellyfish

Add localfsblob instead of github metadata
  pkg/module/git/source.go
  pkg/module/source/fs.go
Owners: @kyma-project/jellyfish

Remove the fileSystem impl and OCM SourceMeta when it's not a git target folder
  pkg/module/build.go
  pkg/module/source/fs.go
Owners: @kyma-project/jellyfish

Remove pointer receiver for the 'GitSource' struct as the methods are not updating the struct
  pkg/module/source/git.go
Owners: @kyma-project/jellyfish

some codereview comments
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
Owners: @kyma-project/jellyfish

some codereview comments
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

fix
  cmd/kyma/alpha/create/module/moduleconfig.go
Owners: @kyma-project/jellyfish

fix
  cmd/kyma/alpha/create/module/module.go
Owners: @kyma-project/jellyfish

Add Template unit test
  pkg/module/template.go
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish

fix linting issues
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish

fix linting issues
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish

fix linting issues
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish

fix linting issues
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish

fix linting issues
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish

upgrade go mod
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Add the option to override default namespace (#1749)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  pkg/module/template.go
  pkg/module/template_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

fix breaking changes
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
Owners: @kyma-project/jellyfish

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
