Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

fix linting
  internal/trust/trust_darwin.go
Owners: @kyma-project/jellyfish

test pr
  template.yaml
Owners: @kyma-project/jellyfish

update go sum
  .golangci.yml
  Makefile
  hack/verify-lint.sh
Owners: @kyma-project/jellyfish

fix linting
  hack/verify-lint.sh
Owners: @kyma-project/jellyfish

fix linting ii
  .golangci.yml
Owners: @kyma-project/jellyfish

fix linting iii
  Makefile
  hack/verify-lint.sh
Owners: @kyma-project/jellyfish

fix linting
  hack/lint.sh
Owners: @kyma-project/jellyfish

fix linting
  Makefile
Owners: @kyma-project/jellyfish

fix linting
  hack/verify-lint.sh
Owners: @kyma-project/jellyfish

fix linting
  Makefile
  hack/verify-lint.sh
Owners: @kyma-project/jellyfish

fix linting
  Makefile
Owners: @kyma-project/jellyfish

Introduce sign process to create module (#1608)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  cmd/kyma/alpha/sign/module/module.go
  cmd/kyma/alpha/sign/module/opts.go
  cmd/kyma/alpha/verify/module/module.go
  cmd/kyma/alpha/verify/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  docs/gen-docs/kyma_alpha_sign_module.md
  docs/gen-docs/kyma_alpha_verify_module.md
  go.mod
  go.sum
  pkg/module/sign.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

provision/k3d: Add "k3d-registry-arg" Flag (#1604)
  cmd/kyma/provision/k3d/cmd.go
  cmd/kyma/provision/k3d/opts.go
  docs/gen-docs/kyma_provision_k3d.md
  internal/k3d/k3d.go
  internal/k3d/k3d_test.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Replace indirect /vbatts/tar-split with pinned v0.11.3
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Bump ocm pkg
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Bump reconciler ref
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

chore: Bump dependencies to fix CVEs (#1617)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Set latest Kyma release version
  internal/config/config.go
Owners: @kyma-project/jellyfish

Update docs
  docs/gen-docs/kyma_deploy.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update release 212 (#1618)
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/sign/module/module.go
  cmd/kyma/alpha/sign/module/opts.go
  cmd/kyma/alpha/verify/module/module.go
  cmd/kyma/alpha/verify/module/opts.go
  cmd/kyma/provision/k3d/cmd.go
  cmd/kyma/provision/k3d/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
  docs/gen-docs/kyma_alpha_deploy.md
  docs/gen-docs/kyma_alpha_sign_module.md
  docs/gen-docs/kyma_alpha_verify_module.md
  docs/gen-docs/kyma_deploy.md
  docs/gen-docs/kyma_provision_k3d.md
  go.mod
  go.sum
  internal/config/config.go
  internal/k3d/k3d.go
  internal/k3d/k3d_test.go
  internal/kustomize/kustomize.go
  pkg/module/sign.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

stop spinner by ending step with success (#1597)
  cmd/kyma/deploy/cmd.go
  internal/cli/managed.go
Owners: @kyma-project/jellyfish

Bump deps as in release branch
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Bump deps as in release branch (#1619)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Add lint target. Fix for new version.
  .golangci.yml
  Makefile
  internal/trust/trust_darwin.go
Owners: @kyma-project/jellyfish

Detect managed kyma (#1602)
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
Owners: @kyma-project/jellyfish

Remove timeout for local lint target
  Makefile
Owners: @kyma-project/jellyfish

Remove homemade lint script (#1614)
  .golangci.yml
  Makefile
  hack/verify-lint.sh
  internal/trust/trust_darwin.go
Owners: @kyma-project/jellyfish

Remove default module templates deployment with kyma alpha deploy
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/opts.go
  internal/deploy/module_templates.go
Owners: @kyma-project/jellyfish

generate docs
  docs/gen-docs/kyma_alpha_deploy.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

add label to descriptor
  pkg/module/template.go
Owners: @kyma-project/jellyfish

Turn off automatic deployment of ModuleTemplates (#1624)
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/opts.go
  docs/gen-docs/kyma_alpha_deploy.md
  internal/deploy/module_templates.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

refactor version checker to its own new file
  cmd/kyma/kyma.go
  cmd/kyma/version/checker.go
Owners: @kyma-project/jellyfish

fix failing tests
  cmd/kyma/kyma.go
Owners: @kyma-project/jellyfish

apply changes suggested in review
  cmd/kyma/kyma.go
  cmd/kyma/version/checker.go
  cmd/main.go
Owners: @kyma-project/jellyfish

add initial logic to fetch and compare new version with current version
  cmd/kyma/kyma.go
Owners: @kyma-project/jellyfish

do make docs
  docs/gen-docs/kyma.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

react to --ci flag before performing version check print the warning in yellow to the console
  cmd/kyma/kyma.go
  cmd/kyma/version/checker.go
  cmd/main.go
Owners: @kyma-project/jellyfish

change existing appraoch completely and rewrite the logic
  cmd/kyma/version/checker.go
Owners: @kyma-project/jellyfish

refactor version checker to internal location minor code improvements
  cmd/kyma/kyma.go
  internal/cli/version.go
Owners: @kyma-project/jellyfish

New version notifier (#1611)
  cmd/kyma/kyma.go
  docs/gen-docs/kyma.md
  internal/cli/version.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko
