Repository kyma-project/cli, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @anoipm

CODEOWNERS:

# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/jellyfish

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# serverless related commands
cmd/kyma/init @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/sync @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm
cmd/kyma/apply @m00g3n @pPrecel @dbadura @kwiatekus @cortey @anoipm

Set timeout for lint step
  Makefile
Owners: @kyma-project/jellyfish

remove timeout
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

kyma alpha create module using config file (#1694)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create.md
  docs/gen-docs/kyma_alpha_create_module.md
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/resources.go
  pkg/module/template.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Remove Config Layer from ModuleTemplate
  pkg/module/kubebuilder/project.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

remove fast integration tests
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Add kyma undeploy command to pre submit job (#1711)
  prow/pre-cli-e2e.sh
Owners: @kyma-project/jellyfish

Set timeout in config file
  .golangci.yml
  Makefile
Owners: @kyma-project/jellyfish

Try higher timeout
  .golangci.yml
Owners: @kyma-project/jellyfish

Try gha lint pipeline
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

Try different format
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

Just copy paste from sample
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

Add sample from gh
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

adapt workflow config
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

set verbose
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

pass verbose arg
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

testing standard go gha
  .github/workflows/main.yml
Owners: @kyma-project/jellyfish

shorten version
  .github/workflows/golangci-lint.yml
Owners: @kyma-project/jellyfish

Remove workflow
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @kyma-project/jellyfish

Adapt golangci config
  .golangci.yml
Owners: @kyma-project/jellyfish

Adapt golangci config (#1714)
  .golangci.yml
Owners: @kyma-project/jellyfish

Add gh actions lint workflow
  .github/workflows/pull-cli-lint.yml
Owners: @kyma-project/jellyfish

add name
  .github/workflows/pull-cli-lint.yml
Owners: @kyma-project/jellyfish

Testing things
  .github/workflows/tmp-test.yml
Owners: @kyma-project/jellyfish

Add gh actions lint workflow (#1715)
  .github/workflows/pull-cli-lint.yml
Owners: @kyma-project/jellyfish

Reduce timeout. Pin patch version
  .github/workflows/pull-cli-lint.yml
  .golangci.yml
Owners: @kyma-project/jellyfish

Reduce timeout. Pin patch version (#1718)
  .github/workflows/pull-cli-lint.yml
  .golangci.yml
Owners: @kyma-project/jellyfish

Enable cache for the setup-go action
  .github/workflows/pull-cli-lint.yml
Owners: @kyma-project/jellyfish

Enable type assertion linter (#1707)
  .golangci.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/list/module/module.go
  internal/cli/alpha/module/module.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/kyma.go
  pkg/errs/common.go
Owners: @kyma-project/jellyfish

kubebuilder/project.go: Remove Unnecessary Comment
  pkg/module/kubebuilder/project.go
Owners: @kyma-project/jellyfish

Remove Unnecessary Comment
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

UPdate default version
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

UPdate default version (#1720)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/jellyfish

fix cve cve-2022-32149
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

fix cve cve-2022-32149 (#1721)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Add is-cluster-scoped annotation
  cmd/kyma/alpha/create/module/module.go
  pkg/module/validation.go
Owners: @kyma-project/jellyfish

Add unit test
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/testdata/clusterScopedCRD.yaml
  cmd/kyma/alpha/create/module/testdata/namespacedScopedCRD.yaml
Owners: @kyma-project/jellyfish

Remove Config Layer from ModuleTemplate (#1712)
  pkg/module/kubebuilder/project.go
  pkg/module/resources.go
Owners: @kyma-project/jellyfish

Bump reconciler - PVC interceptor
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Bump reconciler - PVC interceptor (#1725)
  go.mod
  go.sum
Owners: @kyma-project/jellyfish

Update links for the domain change
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko
